<!DOCTYPE html>
<html>

<head>
  <title>
    Video link manager
  </title>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/user-nav.ejs %>

  <div class="container">
    <div class="row justify-content-center align-item-center card-container">

      <%if(videos.length ==0){
        if(showAddVideoButton){%>
      <!--No video-->
      <a href="/add-video" class="card mx-5 my-3 home-item bg-info text-white">
        <div class="row justify-content-center">
          <img class="card-img-top home-item-icon mx-3 my-3" src="/images/video-icon.png" alt="View User">
        </div>
        <div class="card-body">
          <h2>Add video</h2>
          <p class="card-text">Add new video</p>
        </div>
      </a>
      <%} else{%> 
      <h3 class="text-info my-5">No Video</h3>        
      <%}%>
      <%} else {
        for(let i = 0;i< videos.length;i++){
          let statusText;
          let itemClass;
          const status = videos[i].status;
          if(status == 'submitted'){
            statusClass = "text-info";
            statusText='Submitted';
          } else if(status == 'approved'){
            statusClass = "text-success";
            statusText='Approved';
          } else {
            statusClass = "text-danger";
            statusText='Rejected';
            itemClass = "video-item-rejected";
          }
        %>
      <!--Show list video-->
      <div class="col-12 row video-item-background <%=itemClass%> mb-3 mt-1 py-3">
        <div class="col-12 col-md-3">
          <img class="col-12" src="<%=videos[i].thumbnail%>" />
        </div>
        <div class="col-12 col-md-9">
          <div class="col-12 mx-0 px-0 row">
            <h3 class="col-9 px-0">
              <%=videos[i].subject %>
            </h3>
            <div class="col-3 row justify-content-center align-item-center py-auto my-auto">
              <div class="<%=statusClass%>">
                <%=statusText%>
              </div>

            </div>
          </div>
          <div><b>Upload by:</b>
            <%=videos[i].user_name%>
          </div>
          <div><b>Type:</b>
            <%=videos[i].type%>
          </div>
          <div><b>Time:</b>
            <%=videos[i].time%>
          </div>
          <div><b>Description:</b>
            <p class="mx-3">
              <%=videos[i].description%>
            </p>
          </div>
        </div>
      </div>
      <%}}%>

    </div>

  </div>

</body>

</html>