<!DOCTYPE html>
<html>

<head>
  <title>
    Update user information
  </title>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/user-nav.ejs %>

  <div class="container container-background pb-5">
    <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/update-user-info" onsubmit="return validateForm()">
      <div class="row justify-content-center">
        <h2 class="text-center">Update your information</h2>
      </div>
      <%if(showRequireHint){%>
      <div class="d-flex justify-content-center">
        <h4 class="text-info">You must update you information to continue.</h4>
      </div>
      <%}%>
      <hr>

      <!--Avatar-->
      <div class="d-flex justify-content-center">
        <img id="avatar" src="<%=user.avatar%>" class="avatar-large" />
      </div>
      <div class="d-flex justify-content-center row">
        <div class="form-group">
          <input name="avatar" type="file" id="inputAvatar" accept="image/gif, image/jpeg, image/png" onchange="showImage(this.files,'avatar','<%=user.avatar%>');"
            title="Edit avatar" />
        </div>
      </div>
      <div class="d-flex justify-content-center mb-2">
        <small class="text-center text-danger" id="avatar-error"></small>
      </div>

      <!--Username-->
      <div class="row mb-2">
        <div class="col-md-3 field-label-responsive my-auto">
          <div class="input-group-addon float-md-right"><i class="fas fa-user"></i> Username: </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-0">
            <input type="input" class="form-control" id="Name" value="<%=user.name%>" disabled>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>

      <!--Email-->
      <div class="row mb-2">
        <div class="col-md-3 field-label-responsive my-auto">
          <div class="input-group-addon float-md-right"><i class="fas fa-envelope"></i> Email: </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-0">
            <input type="input" class="form-control" value="<%=user.email%>" disabled>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>

      <!--Image-->
      <div class="row mb-2 justify-content-center py-2 my-2">
        <div class="col-12 col-md-4 card py-2">
          <div class="text-center"><b>Passport 1 (Front)</b></div>
          <div class="d-flex justify-content-center">
            <img id="image-passport-front" class="passport-image mb-2" src="<%=user.passport_front%>" />
          </div>
          <div class="d-flex justify-content-center">
            <div class="form-group  mb-0">
              <input name="passport_front" type="file" id="inputPassportFront" accept="image/gif, image/jpeg, image/png"
                onchange="showImage(this.files,'image-passport-front','<%=user.passport_front%>');" />
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 card py-2">
          <div class="text-center"><b>Passport 2 (Real)</b></div>
          <div class="d-flex justify-content-center">
            <img id="image-passport-real" class="passport-image mb-2" src="<%=user.passport_real%>" />
          </div>
          <div class="d-flex justify-content-center">
            <div class="form-group  mb-0">
              <input name="passport_real" type="file" id="inputPassportReal" accept="image/gif, image/jpeg, image/png"
                onchange="showImage(this.files,'image-passport-real','<%=user.passport_real%>');" />
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <small class="text-danger" id="passport-error"></small>
      </div>

      <div class="row justify-content-center mb-5">
        <button type="submit" class="btn btn-success mx-2"><i class="fa fa-user-plus"></i> Update</button>
        <!-- <a href="/"><button type="button" class="btn btn-secondary mx-2"><i class="fas fa-eraser"></i> Skip</button></a> -->

      </div>
    </form>
  </div>
</body>
<script type="text/javascript" src="/javascripts/update-info.js"></script>

</html>